body{
    background-color: yellow;
}
.container{
    display: grid;
    justify-content: center;
    align-items: center;
}
#button{
    width: 112px;
    height: 45px;
    margin-top: 20px;
    margin-left: 70px;
}
img{
    left: 30%;
    position: relative;
    top: 17px;
    width: 200px;
}